.gallery {
    padding: 40px 20px;
    max-width: 1200px;
    background-color: #f9f9f9;
    text-align: center;
    text-align: center;
}

.title {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
}

.filters {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.filterButton {
    padding: 10px 20px;
    margin: 0 5px;
    border: 1px solid #ddd;
    background-color: #f0f0f0;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.filterButton:hover {
    background-color: #0070f3;
    color: #fff;
}

.active {
    background-color: #0070f3;
    color: #fff;
}

.imageGallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease box-shadow 0.3s ease;
}

.image:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    position: relative;
    max-width: 90%;
    max-height: 90%;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.modalImage {
    max-width:100%;
    max-height: 80vh;
    border-radius: 10px;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    color: #333;
    border: none;
    font-size: 32px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.closeButton:hover {
    background-color: #0070f3; 
}